<div class="jumbotron ">
  <h1 class="text-center">Home Page</h1>
</div>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4 text-center">
    <%= link_to 'Go to page Products', products_path, class: 'btn btn-primary' %>
  </div>
  <div class="col-sm-4"></div>
</div>





