<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4 text-center">
    <h2>Welcome</h2>
    <%= link_to 'Add Page', products_path, class: 'btn btn-primary' %>
  </div>
  <div class="col-sm-4"></div>
</div>


